<div class="container-fluid">
	<div class="row form-group">
		<div class="col-md-2">Name</div>
		<div class="col-md-7">Acts</div>
{{!-- 		<div class="col-md-2">Last Scheduled ID</div>
		<div class="col-md-1">Last Scheduled CSV ID</div> --}}
		<div class="col-md-1">last Run Date</div>
		<div class="col-md-2">Save/Del</div>
	</div>
	<div id="batch_rows">
	</div>
	<div>
		<button id="create_new">Create New</button>
	</div>
</div>
